*
{
    background-color: #d5e8f6;
}

.picture 
{
    height: 280px;
    width: 300px;
    background-image:url(img.jpg);
    background-size: cover;
}
.details
{
    margin-left: 5rem;
}
.Percentage
{
   margin-left: 5rem;
}

